.box {
    background-color: aqua;
    width: 300px;
    height: 300px;
    position: relative;
}

.box1{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.box2{
    background-color: brown;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    top: 100px;
}

.box3{
    background-color: cornsilk;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.box4{
    background-color: cornsilk;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.box1a{
        background-color: darkgoldenrod;
        width: 100px;
        height: 100px;
        position: absolute;        
}

.box5{
    background-color: cornsilk;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 25px;
    top: 25px;
}
.box2a{
    background-color: darkkhaki;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.box6{
    background-color: darksalmon;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 25px;
    top: 25px; 
}
.square{
    background-color: chocolate;
    color: coral;
    flex-direction: row;
    float: right;
    width: 200px;
    height: 100px;
    justify-content: center;
}